{% extends 'theme.html.twig' %}

{% block title %}Créer un compte !{% endblock %}

{% block stylesheets %} 

<link href="{{ asset('css/sb-admin-2.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}


<div class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
           
              <img  src="{{ asset('illustration/connexion.jpg') }}"class="col-lg-6 d-none d-lg-block "></img>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Créer un compte</h1>
                  </div>
    {{ form_start(registrationForm,  { attr : { novalidate : 'novalidate' } }) }}
    <div class="form-group formulaire">
        <div class="groupeGauche" >
           {{ form_label(registrationForm.email, "email : " | capitalize) }}
            {{ form_widget(registrationForm.email)}}
            {{ form_errors(registrationForm.email) }}

             {{ form_label(registrationForm.nom, "nom : " | capitalize) }}
             {{ form_widget(registrationForm.nom)}} {{ form_errors(registrationForm.nom) }}

             {{ form_label(registrationForm.prenom, "prenom : " | capitalize) }} 
             {{ form_widget(registrationForm.prenom)}} 
             {{ form_errors(registrationForm.prenom) }}
             
        </div>
        <div class="groupeDroite">
             {{ form_label(registrationForm.region, "region : " | capitalize) }} 
             {{ form_widget(registrationForm.region)}} 
             {{ form_errors(registrationForm.region) }}

             {{ form_label(registrationForm.age, "age : " | capitalize) }} 
            {{ form_widget(registrationForm.age)}}
            {{ form_errors(registrationForm.age) }}

             {{ form_label(registrationForm.sexe, "sexe : " | capitalize) }} 
             {{ form_widget(registrationForm.sexe)}} 
             {{ form_errors(registrationForm.sexe) }}

             {{ form_label(registrationForm.plainPassword, "mot de passe : " | capitalize) }} 
             {{ form_widget(registrationForm.plainPassword)}} 
             {{ form_errors(registrationForm.plainPassword) }}
        </div>

    
        
        
    </div>
        <div class="groupeGauche" >
          <button class="btn mt-4 btn-primary">S'inscrire</button>
        </div>
    {{ form_end(registrationForm) }}
                
                   
                  
                  <hr>
                  <div class="text-center">
                    <a class="small" href="/login">Déjà un compte ?</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

 

</div>


{% endblock %}

