{% extends 'theme.html.twig' %}

{% block title %} {{parent() }} {% endblock %}

{% block body %}



<div class="col-lg-9 m-5">


  <div class="row d-flex justify-content-center">
  

        <div class="col-sm-6  col-md-4 col-lg-3 col-xl-2 mb-4 ">
          <div class="card h-100">
            <img class="card-img-top" src="{{ asset('img/' ~ article.image) }}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                 {{  article.titre  | capitalize}} </a>
              </h4>
              
              <p class="card-text">{{article.accroche | capitalize}} </p>
            </div>

            <p class="card-text">{{article.texte | capitalize}} </p>
            
          </div>
        </div>
   
    </div>
  </div>

  <div class="row mt-3">
		<div class="col">
			<h4>Ajouter un commentaire</h4>
			{% if app.user %}
			<form method="post"  class="form-comment">

			
			

				<p>
				{#Recuperation du prenom de l'utilisateur#}
				<input type="hidden" type="text" name="userName" id="name" value="{{ app.user.prenom }}">
					<textarea class="form-control" name="message" id="message" cols="60" rows="5"></textarea>
				</p>
				<p>
					{# champ caché pour stocker l'identifiant du produit #}
					<input type="hidden" name="id" value="{{ article.id }}">
					<button  type="submit" class="btn btn-info">Valider</button>
				</p>
			</form>
			{% else %}

			<p> Veuillez vous <a href="{{url('app_login')}}">connecter</a> ou vous <a href="{{url('app_register')}}"> créer un compte </a> pour laisser votre avis. </p>
			{% endif %}
			<div class="comment-list">
				{# affichage des commentaires #}
        <h3>Commentaires</h3>
				{% for commentaire in article.commentaire %}
					<hr>
					<div class="commentaire">
					<p>De : {{ commentaire.userName }}</p>
					<p>Commentaire: {{ commentaire.message }}</p>
					<div>
					
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/formComment.js') }}"></script>
{% endblock %}
