{% extends 'theme.html.twig' %}

{% block title %} {{parent() }} {% endblock %}

{% block body %}





 <h1 class="title">{{article.titre | capitalize}}</h1>
  <div class="col-sm-12  col-md-8 contenu  mb-4">
	<img class="img-fluid d-block mx-auto" src="{{ asset('img/' ~ article.image) }}" alt="image gaming">

	<h2 class="title">{{article.accroche | capitalize}} </h2>

	<p class=" lead text-justify  ">{{article.texte | capitalize}} </p>
  </div>
            
        
    
  <div class="row mt-3">
		<div class="col">
			<h4 class="title">Ajouter un commentaire</h4>
			{% if app.user %}
			<form method="post"  class="form-comment">
				<p>
				
					<textarea class="form-control" name="message" id="message" cols="60" rows="5"></textarea>
				</p>
				<p class=" valider">
					{# champ caché pour stocker l'identifiant du produit #}
					<input type="hidden" name="id" value="{{ article.id }}">
					<button   type="submit" class="btn btn-info ">Valider</button>
				</p>
			</form>
			{% else %}

			<p class="text-center" > Veuillez vous <a href="{{url('app_login')}}">connecter</a> ou vous <a href="{{url('app_register')}}"> créer un compte </a> pour laisser votre avis. </p>
			{% endif %}
			<div class="comment-list">
				{# affichage des commentaires #}
        <h3 class="title">Commentaires</h3>
				{% for commentaire in article.commentaire %}
					<hr>
					<div class="commentaire">
					<p>De : {{ commentaire.userName }}</p>
					<p class="text-justify"> {{ commentaire.message }}</p>
					</div>
					
				{% endfor %}
			</div>
		</div>
		

</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/formComment.js') }}"></script>
{% endblock %}
