{% extends 'administrateur.html.twig' %}

{% block body %}

<h2 class="title">Liste des forums</h2>

<div class="articlesList">
    <a id="newTopicBtn" class="btn btn-primary" href="{{ url('newTopic')}}">Nouveau sujet </a>
    <table class="table table-bordered" id="dataTable" width="100%" >
                    
        <thead>
            <tr>
                <th>Sujet</th>
                <th>Auteur</th>
                <th>Action</th>

                
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>Sujet</th>
                <th>Auteur</th>
                <th>Action</th>

                
            </tr>
        </tfoot>
        <tbody>
        {% for topic in afficher %}
        
            <tr>
                <td><a href=" {{ url('topic.details', { id : topic.id}) }}"> {{topic.sujet }}</a></td>
                <td>{{topic.auteur }}</td>
                <td><a class="btn btn-danger issou" data-toggle="modal" data-target="#exampleModal" href="{{ url('topic.delete', {id: topic.id}) }}"> Supprimer</a></td>

            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% include 'inc/modal.html.twig' %}
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/confirmDeleteModal.js') }}"></script>
	<script src="{{ asset('js/deleteConfirmAlert.js') }}"></script>
{% endblock %}
