{% extends 'administrateur.html.twig' %}

{% block body %}


        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 title mb-2 text-gray-800">Table utilisateurs</h1>

          {% include 'inc/flash.messages.html.twig' %}
          

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Base de donnée utilisateurs</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                
                  <thead>
                    <tr>
                      <th>Email</th>
                      <th>Nom</th>
                      <th>Prenom</th>
                      <th>Age</th>
                      <th>Genre</th>
                      <th>Region</th>
                      <th>Action</th>
                      
                    </tr>
                  </thead>

                  <tfoot>
                    <tr>
                      <th>Email</th>
                      <th>Nom</th>
                      <th>Prenom</th>
                      <th>Age</th>
                      <th>Genre</th>
                      <th>Region</th>
                      <th>Action</th>
                      
                    </tr>
                  </tfoot>

                  {% for user in afficher %}
                  <tbody>
                    <tr>
                    {# Empecher la modification de l'admin !#}
                    {% if user.roles[0] != "ROLE_ADMIN" %}
                      <td>{{user.email }}</td>
                      <td>{{user.nom | capitalize}}</td>
                      <td>{{user.prenom | capitalize}}</td>
                      <td>{{user.age | capitalize}}</td>
                      <td>{{user.sexe | capitalize}}</td>
                      <td>{{user.Region | capitalize}}</td>

                  
                      <td><a  class="btn btn-danger issou" data-toggle="modal" data-target="#exampleModal" href="{{ url('user.delete', {id: user.id}) }}"> Supprimer </a>

                      <a  class="btn btn-info"  href="{{ url('user.update', {id: user.id}) }}"> Modifier </a> 

                      
                      <a href="{{ url('modif.mdp', {id: user.id}) }}">Modifier mot de passe ? </a>
                      
                     {% endif %}
                     
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
      
      {% include 'inc/modal.html.twig' %}
     {% endblock %}

     {# bloc javascripts #}
{% block javascripts %}
	<script src="{{ asset('js/confirmDeleteModal.js') }}"></script>
	<script src="{{ asset('js/deleteConfirmAlert.js') }}"></script>
{% endblock %}