  <p class="text-center m-0">Catégories de forum : </p>
  <ul class="sousMenu">
        <li><a id="newTopicBtn" class="btn btn-primary" href="{{ url('forum.nintendo')}}">Nintendo </a></li>
        <li><a id="newTopicBtn" class="btn btn-primary" href="{{ url('forum.xbox')}}">Microsoft Xbox</a></li>
        <li><a id="newTopicBtn" class="btn btn-primary" href="{{ url('forum.playstation')}}">Sony Playstation </a></li>
        <li><a id="newTopicBtn" class="btn btn-primary" href="{{ url('forum.ordinateur')}}">Ordinateur Gaming </a></li>
        <li><a id="newTopicBtn" class="btn btn-primary" href="{{ url('forum.divers')}}">Sujet divers </a></li>
    </ul>