
{% extends 'admin.html.twig' %}

{% block title %}{{ parent() }}Admin - {{ app.user.nom }}{% endblock %}

{% block body %}




<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url('accueil.dev')}}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3"> ADMINISTRATEUR</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{{url('accueil.dev')}}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Accueil</span></a>
           <a class="nav-link" href="{{url('accueil')}}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Retour sur GameTech</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Interface de gestion
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a id="linkUser" class="nav-link d-block text-center "  >
          
          <span>Utilisateur</span>
        </a>
        
          <div id="infoUser" class="menuInfo">
          <div class="bg-white py-2 m-2  rounded">
            <h6 class="text-center" >Liste des inscrits</h6>
            <a class="d-block text-center" href="{{ url('user.dev') }}">Afficher les utilisateurs</a>
            <a class="d-block text-center" href="{{ url('new.user') }}">Ajouter un utilisateur</a>
            
        </div>
      </li>

      <li class="nav-item">
        <a id="linkForum" class="nav-link d-block text-center "  >
          
          <span>Forum</span>
        </a>
        <div id="infoForum" class="menuInfo"  >
          <div class="bg-white py-2 m-2  rounded">
            <h6 class="text-center" >Gestion des sujet</h6>
            <a class="d-block text-center" href="{{ url('forum.dev') }}">Afficher les sujets</a>
            
            
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a id="linkArticle" class="nav-link d-block text-center " >
          
          <span>Articles</span>
        </a>
        <div  id="infoArticle" class="menuInfo">
          <div class="bg-white py-2 m-2 rounded">
            <h6 class="text-center">Paramètres articles</h6>
            <a class="d-block text-center" href="{{ url('articles.dev') }}">Modifier articles</a>
            <a class="d-block text-center"  href="{{ url('new_article') }}">Ajouter un article</a>
            
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a id="linkContact"  class="nav-link d-block text-center " >
          
          <span>Contact</span>
        </a>
        <div id="infoContact" class="menuInfo ">
          <div class="bg-white py-2 m-2   rounded">
            <h6 class="text-center">Message</h6>
            <a class="d-block text-center" href="{{ url('msg.dev') }}">Boite de reception</a>
            
            
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Navigation
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a id="linkPages"  class="nav-link d-block text-center ">
          
          <span>Pages</span>
        </a>
        <div id="infoPages">
          <div class="bg-white py-2 m-2   rounded">
            <h6 class="text-center"> <span>Pages d'identification:</h6>
            <a class="d-block text-center" href="{{ url('app_login') }}">Connexion</a>
            <a class="d-block text-center" href="{{ url('app_register') }}">Inscription</a>
            <a class="d-block text-center" href="{{url('notfound')}}">Mot de passe oublié</a>
            <div class="collapse-divider"></div>
            <h6 class="text-center">Autres Pages:</h6>
            <a class="d-block text-center" href="{{url('accueil')}}">Accueil</a>
            <a class="d-block text-center" href="{{url('contact')}}">Contact</a>
            
            <a class="d-block text-center" href="{{ url('nintendo') }}">Nintendo Switch</a>
             <a class="d-block text-center" href="{{ url('ps4') }}">Playstation 4</a>
              <a class="d-block text-center" href="{{ url('xbox') }}">Xbox One</a>
               <a class="d-block text-center" href="{{ url('pc') }}">PC</a>
               <a class="d-block text-center" href="{{ url('forum') }}">Forum</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="{{url('cgu')}}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Conditions générales d'utilisation</span></a>
      </li>
      

     

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

         
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link text-info " href="{{url('app_logout')}}"  role="button" >
                  Déconnexion
                </a>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a href="{{url('user.profile')}}" class="nav-link text-info "  role="button" >
                {{app.user.prenom}} {{ app.user.nom }}
                
              </a>
              
              
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->
 
        {% endblock %}

        
        
