
{% extends 'admin.html.twig' %}

{% block title %}{{ parent() }}Admin - {{ app.user.nom }}{% endblock %}

{% block body %}




<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url('accueil.dev')}}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3"> ADMINISTRATEUR</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{{url('accueil.dev')}}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Accueil</span></a>
           <a class="nav-link" href="{{url('accueil')}}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Retour sur GameTech</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Interface de gestion
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Utilisateur</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Liste des inscrits</h6>
            <a class="collapse-item" href="{{ asset('/admin/user') }}">Afficher les utilisateurs</a>
            <a class="collapse-item" href="{{ url('new.user') }}">Ajouter un utilisateur</a>
            
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForum" aria-expanded="true" aria-controls="collapseForum">
          <i class="fas fa-fw fa-cog"></i>
          <span>Forum</span>
        </a>
        <div id="collapseForum" class="collapse" aria-labelledby="headingForum" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Gestion des sujet</h6>
            <a class="collapse-item" href="{{ asset('/admin/forum') }}">Afficher les sujets</a>
            
            
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Articles</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Paramètres articles</h6>
            <a class="collapse-item" href="{{ asset('/admin/articles') }}">Modifier articles</a>
            <a class="collapse-item"  href="{{ asset('/admin/new/article') }}">Ajouter un article</a>
            
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities2" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Contact</span>
        </a>
        <div id="collapseUtilities2" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Message</h6>
            <a class="collapse-item" href="{{ url('msg.dev') }}">Boite de reception</a>
            
            
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Navigation
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Pages d'identification:</h6>
            <a class="collapse-item" href="{{ url('app_login') }}">Connexion</a>
            <a class="collapse-item" href="{{ url('app_register') }}">Inscription</a>
            <a class="collapse-item" href="forgot-password.html">Mot de passe oublié</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">Autres Pages:</h6>
            <a class="collapse-item" href="{{url('accueil')}}">Accueil</a>
            <a class="collapse-item" href="{{url('contact')}}">Contact</a>
            
            <a class="collapse-item active" href="{{ url('nintendo') }}">Nintendo Switch</a>
             <a class="collapse-item active" href="{{ url('ps4') }}">Playstation 4</a>
              <a class="collapse-item active" href="{{ url('xbox') }}">Xbox One</a>
               <a class="collapse-item active" href="{{ url('pc') }}">PC</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="{{url('cgu')}}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Conditions générales d'utilisation</span></a>
      </li>
      

     

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

         
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link text-info " href="{{url('app_logout')}}"  role="button" >
                  Déconnexion
                </a>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a href="{{url('user.profile')}}" class="nav-link text-info "  role="button" >
                {{app.user.prenom}} {{ app.user.nom }}
                
              </a>
              
              
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->
 
        {% endblock %}

        
