{% extends 'theme.html.twig' %}

{% block body %}

{% if form.vars.value.id == app.user.id %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Modifier profile </h1>

          {{ form_start(form, { attr : { novalidate : 'novalidate' } }) }}
        <div class="form-group newArticle">

             {{ form_label(form.email, "email : " | capitalize) }} 
             {{ form_widget(form.email)}}
             {#{ form_errors(form.email) }#}
            

              {{ form_label(form.nom, "nom " | capitalize) }}
             {{ form_widget(form.nom)}} 
             {#{ form_errors(form.nom) }#}

             {{ form_label(form.prenom, "prenom : " | capitalize) }} 
            {{ form_widget(form.prenom)}}
            {#{ form_errors(form.prenom) }#}

             {{ form_label(form.age, "age : " | capitalize) }} 
             {{ form_widget(form.age)}} 
             {#{ form_errors(form.age) }#}

             {{ form_label(form.sexe, "genre : " | capitalize) }} 
             {{ form_widget(form.sexe)}}
             {#{ form_errors(form.sexe) }#} 

              {{ form_label(form.region, "region : " | capitalize) }} 
             {{ form_widget(form.region)}}
             {#{ form_errors(form.Region) }#}

            

            <button class="btn mt-4 btn-primary">Valider</button>
        </div>
        {{ form_end(form) }}

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
{% endif %}
{% endblock %}




    