{% extends 'theme.html.twig' %}

{% block body %}
<h2 class="title">Mon Compte</h2>
<p class="text-center lead">Ici vous pouvez modifier votre profile</p>
{% include 'inc/flash.messages.html.twig' %}
<ul class="infoUser">
    <div class="center">
    <li>Email : {{ app.user.email }}</li>
    <li>Nom : {{ app.user.nom }}  </li>
    <li>Prénom : {{ app.user.prenom }} </li>
    <li>Age : {{ app.user.age }} </li>
    <li>Genre : {{ app.user.sexe }} </li>
    <li>Region : {{ app.user.region }}</li>
    </div>
    
    <a href="{{ url('profile.update', {id : app.user.id}) }}" class="btn">Modifier mes informations</a>
    <a href="{{ url('user.changeMdp', {id : app.user.id}) }}" class="btn">Modifier mot de passe</a>

    <a class="issou btn btn-danger w-25 d-block mr-auto ml-auto" data-toggle="modal" data-target="#exampleModal" href="{{ url('user.supprimer', {id: app.user.id}) }}" class="btn">Supprimer mon compte</a>

</ul>
  

    
    
     
     
{% include 'inc/modal.html.twig' %}
      

{% endblock %}



{% block javascripts %}
	<script src="{{ asset('js/confirmDeleteModal.js') }}"></script>
	<script src="{{ asset('js/deleteConfirmAlert.js') }}"></script>
{% endblock %}
    