{% extends 'theme.html.twig' %}

{% block body %}

<ul>
    <li>Email : {{ app.user.email }}</li>
    <li>Nom : {{ app.user.nom }}  </li>
    <li>Prénom : {{ app.user.prenom }} </li>
    <li>Age : {{ app.user.age }} </li>
    <li>Genre : {{ app.user.sexe }} </li>
    <li>Region : {{ app.user.region }}</li>
    <a href="{{ url('profile.update', {id : app.user.id}) }}" class="btn">Modifier mes informations</a>
    <a href="{{ url('user.changeMdp', {id : app.user.id}) }}" class="btn">Modifier mot de passe</a>
</ul>
    
    
     
     
    
      

{% endblock %}




    