{% extends 'theme.html.twig' %}

{% block title %} {{parent() }} | {{afficher.sujet }} {% endblock %}

{% block body %}
{% include 'inc/forumMenu.html.twig'%} 
            
            <h4>Sujet : {{afficher.sujet }}</h4>
            <div class="topicPrincipal">
              <p>auteur : {{afficher.auteur }}</p>
              <p>{{afficher.message }}</p>
            </div>

 
{% endblock %}
