{% extends 'theme.html.twig' %}

{% block title %} {{parent() }} | Forums {% endblock %}


{% block body %}

<h2 class="title">Liste des forums</h2>

{% include 'inc/forumMenu.html.twig'%} 
<div class="articlesList">
    <a id="newTopicBtn" class="btn btn-primary" href="{{ url('newTopic')}}">Nouveau sujet </a>
    <table class="table table-bordered" id="dataTable" width="100%" >
                    
        <thead>
            <tr>
                <th>Sujet</th>
                <th>Auteur</th>

                
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>Sujet</th>
                <th>Auteur</th>

                
            </tr>
        </tfoot>
        <tbody>
        {% for topic in afficher %}
        
            <tr class="forumCategorie">
                <td><a href=" {{ url('topic.details', { id : topic.id}) }}"> {{topic.sujet }}</a></td>
                <td>{{topic.auteur }}</td>

            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}<script src="{{ asset('js/affichageForum.js') }}"></script>{% endblock %}
