{% extends 'theme.html.twig' %}

{% block title %} {{parent() }} | {{afficher.sujet }} {% endblock %}

{% block body %}
{% include 'inc/forumMenu.html.twig'%} 
            
            <h2 class=" title"> {{afficher.sujet }}</h2>
            <div class="commentaire topicPrincipal">
              <p>De : {{afficher.auteur }}</p>
              <p class="text-justify">{{afficher.message }}</p>
            </div>
<div class="row mt-3">
		<div class="col">
			<div class="comment-list">
					{# affichage des publications #}
					<h3 class="title">Réponses</h3>
				{% for affichage in afficher.publication %}
						<hr>
					<div class="commentaire">
						<p>De : {{ affichage.userName }}</p>
						<p class="text-justify">Réponse: {{ affichage.reponse }}</p>
					</div>
						
				{% endfor %}
				</div>
			
			{% if app.user %}
			<form method="post"  class="form-comment">
				<p>
				
					<textarea class="form-control" name="message" id="message" cols="60" rows="5"></textarea>
				</p>
				<p class=" valider">
					{# champ caché pour stocker l'identifiant du topic #}
					<input type="hidden" name="id" value="{{ afficher.id }}">
					<button  type="submit" class="btn btn-info">Valider</button>
				</p>
			</form>
			{% else %}

			<p class="text-center lead"> Veuillez vous <a target="_blank" href="{{url('app_login')}}">connecter</a> ou vous <a target="_blank" href="{{url('app_register')}}"> créer un compte </a> pour publier. </p>
			{% endif %}
			
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/forumReponse.js') }}"></script>
{% endblock %}